.match-card{
  width:100%;
}
.location{
    margin-top:-1rem;
}
.loc-ven{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-top:2rem;
}
.card-title{
    text-decoration: none;
    text-decoration-style: none;
    background-color: #000;
}
.venue{
    background-color: #000;

}