@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
}


.homepage{
  min-height:100vh;
  background-color: #0C0C0C;
}

/* #slider{
  height:700px;
} */
